
@{
    ViewData["Title"] = "Stub Master";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-default btn-success" style="float:right; position:relative;" asp-action="create" > Generate Stubs </a>
			<h2 class="st_title"><i class="uil uil-analysis"></i> @ViewData["Title"] </h2>

		</div>
	</div>



</div>

