<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>AcademyPro - @ViewData["Title"]</title>
		
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="~/images/fav.png">
		
		<!-- Stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href='~/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
		<link href="~/css/vertical-responsive-menu1.min.css" rel="stylesheet">
		<link href="~/css/instructor-dashboard.css" rel="stylesheet">
		<link href="~/css/instructor-responsive.css" rel="stylesheet">
		<link href="~/css/night-mode.css" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="~/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
		<link href="~/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
		<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="~/vendor/bootstrap-select/docs/docs/dist/css/bootstrap-select.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="~/vendor/semantic/semantic.min.css">		

		@await RenderSectionAsync("css", required: false)
		
	</head>

<body>
	<!-- Header Start -->
	@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_Header.cshtml")

	<!-- Header End -->
	
	
	<!-- Left Sidebar Start -->
	@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_LeftSidebar.cshtml")
	<!-- Left Sidebar End -->

	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">
				@RenderBody()
			</div>
		</div>

	<!-- Footer Start -->

	<!-- Footer Start -->

	</div>
	<!-- Body End -->
	@await RenderSectionAsync("model", required: false)

	<script src="~/js/vertical-responsive-menu.min.js"></script>
	<script src="~/js/jquery-3.7.1.min.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="~/vendor/bootstrap-select/docs/docs/dist/js/bootstrap-select.js"></script>
    <script src="~/vendor/semantic/semantic.js"></script>

	<script src="~/js/custom1.js"></script>
	<script src="~/js/night-mode.js"></script>

	@await RenderSectionAsync("Scripts", required: false)

	
</body>
</html>